*{
    margin: 0;
    padding: 0;
}


/*-----nav bar will be static----*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

/*----size of icon top left-----*/
.navbar-brand img
{
    height: 60px;
    padding-left: 10px;
}

/*----space between menu options-----*/

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li
{
    float: right;
    text-align: left;

}

/*----color when hovering over menu options-----*/

#nav-bar ul li a:hover
{
    color: orange!important;
}

.navbar
{
    background: #fff;
}

.navbar-toggler
{
    border: none!important;
}

.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}

#slider
{
    width: 100%;
}

.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}

.carousel-caption h5
{
    color: #fff;
    font-size: 42px;
    font-family: Helvetica;
}
/*---about---*/
#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}

#about .btn
{
    margin-top: 20px;
    margin-bottom: 30px;

}

.about-content
{
    padding-top: 20px;
}

.skills-bar p
{
    margin-bottom: 6px;
    font-weight: 600;

}

.progress-bar
{
    border-radius: 16px;
}

.progress
{
    border-radius: 16px !important;
    margin-bottom: 20px;
}

.form-group{
    margin-top: 20px;
    padding-right: 500px;
    padding-left: 500px;
}

#login-forms .btn {

margin-left: 600px;
    margin-top: 20px;

}

.alert {
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 20px;
}